.footer-wraper
  display: grid
  grid-template-columns: auto auto
  grid-template-areas: "footer-header footer-header" "sitemap category-links" "footer-contact footer-contact" "footer-base footer-base"
  padding: 5vh 5vw
  background-color: $footer-bg
  color: $white
  grid-column-gap: 5vw
  grid-row-gap: 30px
  h3
    color: $vivid-blue
    padding: 12px 0

.footer-header
  grid-area: footer-header
  .nav-brand-circle
    cy: 0.7rem
    cx: 78
    r: 4

.footer-nav-links > li
  font-size: 0.8rem
  list-style: none
  padding: 3px 0px

.sitemap
  grid-area: sitemap

.category-links
  grid-area: category-links

.footer-services
  display: none

.footer-contact
  grid-area: footer-contact
  padding-bottom: 40px

.btn-footer
  width: 100%
  color: white

.footer-base
  grid-area: footer-base
  display: flex
  flex-direction: column
  text-align: center
  border-top: 1px solid rgb(130, 130, 130)
  p
    font-size: $small-font
