.optical-trap
  margin: 10vh auto
  max-width: 256px
  width: 60%

.optical-trap #optical-trap
  height:30vh
  border-radius:20px
  border: solid 1px rgb(102, 102, 102)
  overflow: hidden

.slidecontainer
      width: 100%

  .slider
      -webkit-appearance: none
      width: 100%
      height: 20px
      background: #d3d3d3
      outline: none
      opacity: 0.6
      -webkit-transition: .2s
      transition: opacity .2s

  .slider:hover
      opacity: 1

  .slider::-webkit-slider-thumb
      -webkit-appearance: none
      appearance: none
      width: 10px
      height: 35px
      background: #00a3ff
      cursor: ew-resize

  .slider::-moz-range-thumb
      width: 25px
      height: 25px
      background: #4CAF50
      cursor: pointer
