<div class="blog-wrapper">

<h2 style="width:100%;text-align:center">
  You may also like
</h2>

{% if page.next.url %}

<a class="post-preview-wrapper" href="{{ site.baseurl }}{{ page.next.url }}">

<div class="post-preview-img" style="background-image: url('{{ site.baseurl }}{{ page.next.background }}');"></div>

<div class="post-preview-text">

  <h2 class="post-preview-title">{{ page.next.title }}</h2>

  <h3 class="post-preview-subtitle">{{ page.next.subtitle }}</h3>

  <p class="post-preview-meta">
    {{ page.next.date | date: '%B %d, %Y' }}
  </p>

</div>

</a>

{% endif %}

{% if page.previous.url %}

<a class="post-preview-wrapper" href="{{ site.baseurl }}{{ page.previous.url }}">

<div class="post-preview-img" style="background-image: url('{{ site.baseurl }}{{ page.previous.background }}');"></div>

<div class="post-preview-text">

  <h2 class="post-preview-title">{{ page.previous.title }}</h2>

  <h3 class="post-preview-subtitle">{{ page.previous.subtitle }}</h3>

  <p class="post-preview-meta">
    {{ page.previous.date | date: '%B %d, %Y' }}
  </p>

</div>

</a>

{% endif %}
</div>
