<script type="text/javascript" src="/{{ site.baseurl }}assets/js/mobile-nav-slider.js" async></script>

<script type="text/javascript" src="/{{ site.baseurl }}assets/js/nav.js" async></script>

{% if page.scripts == "type-effect" %}
<script type="text/javascript" src="/{{ site.baseurl }}assets/js/typing-effect.js" async>
</script>
{% endif %}

{% if page.scripts == "type-delete-effect" %}
<script type="text/javascript" src="/assets/js/typing-deleting-effect.js" async>
</script>
{% endif %}

<script type="text/javascript" src="/{{ site.baseurl }}assets/aos/aos.js" ></script>

<script>
  AOS.init({
    duration: {{ site.aos-duration }},
    easing: '{{ site.aos-easing }}',
  });
</script>

{% include cookie-consent.html %}
