
.blog-masthead
  background-image: linear-gradient(to bottom right, $blue , $vivid-blue)
  // fixed for single post headers
  background-attachment: fixed
  background-size: cover
  background-position: center

.blog-strap
  font-family: sans-serif

.blog-wrapper
  background-color: $white
  display: flex
  flex-wrap: wrap
  padding: 5vh 5vw
  justify-content: space-between


.post-title, .post-subtitle, .post-meta
  //color: $soft-white

.post-title
  background-color: rgba(0, 0, 0, 0.4)
  padding: 20px
  text-align: center

.post-title, .post-subtitle
  font-weight: 300

.post-preview-wrapper
  flex-basis: 100%
  //min-width: 100%
  padding-bottom: 5vh
  //height: 55vh

.post-preview-img
  //width: 100%
  height: 40vh
  background-size: cover
  background-position: center

.post-preview-text
  background-color: $white
  width: 90%
  max-width: 512px
  margin: 0 auto
  border: solid 1px rgb(230,	232,	237)
  border-radius: 10px
  box-shadow: 0 0px 6px rgba(0,0,0,.1)
  margin-top: -15vh
  padding: 20px 0
  transition: all 1s cubic-bezier(.2,.3,0,1)
  h2,h3,p
    padding: 0
    padding-bottom: 10px
    margin: 0
    text-align: center

.post-preview-title, .post-preview-meta li
  color: $black
  transition: all 0.1s ease-in

// there must be a better way
.post-preview-title:hover,
.post-preview-meta li:hover
  color: $vivid-blue

.post-preview-meta
  font-size: 0.8rem
  margin: 0
  padding: 0
  padding-top: 10px !important
  margin: auto
  text-align: center
  li
    display: inline

.blog-content
  max-width: 768px
  margin: 10vh auto
  width: 90%
  p
    font-size: 1.1rem
    line-height: 2rem
    padding: 0rem 0 0rem 0
  a
    text-decoration: underline
  h1,h2,h3,h4,h5,h6
    padding: 3rem 0 0rem 0

.theme-colors
  height: 90px
  width: 90px
  stroke: $soft-black
  stroke-width: 1px

.theme-images
  width: auto
  height: auto
  margin: auto
  max-width: 300px
  max-height: 100px
  padding: 15px 0

.flex-display
  display: flex
  justify-content: space-around
  justify-content: center
  align-items: center
  flex-wrap: wrap
  margin: auto
  padding: 40px 0

@media screen and ( min-width : 1024px )
  .post-preview-wrapper
    flex-basis: 42.5vw
    max-width: 600px
    padding: 0
    //min-width: 42.5vw
    height: 55vh

  .theme-colors
    height: 120px
    width: 120px

  .post-preview-wrapper:hover
    .post-preview-text
      margin-top: -20vh
      box-shadow: 0 10px 10px rgba(0,0,0,.1)

  .post-preview-text
    width: 80%

  .blog-wrapper
    padding: 10vh 5vw
