.blog-nav-container
  max-width: 600px
  margin: 0 auto
  width: 90%

.blog-nav
  display: flex
  justify-content: space-between
  margin: 0 0 100px 0
  border-bottom: solid 1px $light-grey

.blog-nav-link
  display: inline
  border-bottom: solid 1px $light-grey

.blog-nav-link-active
  border-bottom: solid 1px $black
