.blog-nav-container
  margin: 0 auto
  width: 90%

.blog-nav
  display: flex
  max-width: 600px
  justify-content: space-between
  margin: 0 auto 100px auto
  border-bottom: solid 1px $light-grey

.blog-nav-link
  display: inline
  border-bottom: solid 1px $light-grey

.blog-nav-link-active
  border-bottom: solid 1px $black
