$pure-white-color: rgb(255, 255, 255)
$white-color: rgb(240, 240, 240)
$soft-white-color: rgb(230,230,230)

$black-color: rgb(10, 10, 10)
$soft-black-color: rgb(93, 107, 122)

$pink-color: rgb(193, 28, 66)
$vivid-pink-color: rgb(255, 0, 230)

$yellow-color: rgb(224, 209, 3)

$blue-color: rgb(73, 72, 138)
$vivid-blue-color: rgb(41,	119,	185)

$red-color: rgb(255, 0, 0)

$desktop-nav-bg: rgb(40, 40, 50)

$footer-bg: $desktop-nav-bg

.h-light, .h-light
  color: $soft-white-color

$twitter-blue: rgb( 56,161,243 )

$facebook-blue: rgb( 66,103,178 )
